<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}} YOU HAVE JUST OVERCAME THE HUNGER GAMES!{{else}} DEVOUR IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
